Source: pirogue-eve-collector
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/deb-packages
Rules-Requires-Root: no

Package: pirogue-eve-collector
Architecture: all
Depends: ${misc:Depends}, suricata, python3-influxdb
Description: Provision PiRogue Suricata alarm collector
