[Unit]
Description=PiRogue collector for Suricata alerts
Wants=influxdb.service 
Before=suricata.service

[Service]
ExecStart=/usr/bin/python3 /usr/share/pirogue/pirogue-eve-collector.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=4
Type=notify

[Install]
WantedBy=default.target
