Source: pirogue-ap
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/deb-packages
Rules-Requires-Root: no

Package: pirogue-ap
Architecture: all
Depends: ${misc:Depends}, 
 netfilter-persistent, 
 iptables-persistent,
 hostapd,
 dnsmasq,
 rfkill,
Provides: pirogue-network-routing
Conflicts: pirogue-network-routing
Description: Install PiRogue wi-fi AP configuration
