[Unit]
Description=Run PiRogue maintenance
Wants=suricata.service

[Service]
Type=oneshot
ExecStart=/usr/share/pirogue/pirogue-maintenance.sh
ExecStop=
