Source: pirogue-screen-st7789-240x240
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/deb-packages
Rules-Requires-Root: no

Package: pirogue-screen-st7789-240x240
Architecture: all
Provides: pirogue-screen-controller
Depends: ${misc:Depends}, python3-influxdb, influxdb
Description: Provision PiRogue 240x240px ST7789 screen driver
