Source: pirogue-screen-st7789-240x240
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/deb-packages
Rules-Requires-Root: no

Package: pirogue-screen-st7789-240x240
Architecture: all
Provides: pirogue-screen
Conflicts: pirogue-screen
Replaces: pirogue-screen
Depends: ${misc:Depends},
 ${python3:Depends},
 influxdb,
 net-tools,
 python3-influxdb,
 python3-libgpiod,
 python3-numpy,
 python3-pil,
 python3-spidev,
 python3-systemd,
 pirogue-hardware-detection,
Description: Provision PiRogue 240x240px ST7789 screen driver
