
[Unit]
Description=PiRogue screen
Wants=influxdb.service
ConditionPathExists=/var/lib/pirogue/hardware/is_raspberrypi_hw
ConditionPathExists=/dev/spidev0.0

[Service]
ExecStart=/usr/sbin/pirogue-screen-st7789-240x240
Environment=PYTHONPATH=/usr/lib/pirogue/screen-st7789-240x240
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
